<div class="note-header row">
    <div class="left"><button class="delete-note" ng-click="deleteNote()">-</button></div>
    <div class="title-wrapper center"><input ng-model="item.title" ng-keypress="changeNoteTitle(item.title, $event)"/></div>
    <div class="right"><button class="add-new-note " ng-click="addNewNote()">+</button></div>
    <div class="clear"></div>
</div>
<ul>
    <li class="tag" ng-repeat="tag in tags"><my-tag my-item="tag" note-id="{{item._id}}" ></my-tag></li>
</ul>

<div class="color-picker">
    <color-block ng-repeat="color in colors"  class="color" bg-color="{{color}}" ng-click="changeColor(color)"></color-block>
</div>
